<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Arboles </title>
    </head>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"> </header>

    <div class="container mt-5">
        <div class="row">
            <div th:each="arbol : ${arboles}" class="col-md-4 mb-4">
                <div class="card">
                    <img th:src="@{'/arbol/imagen/' + ${arbol.idArbol}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${arbol.nombreCientifico}"></h5>
                        <p class="card-text" th:text="${arbol.nombreComun}"></p>
                        <p class="card-text" th:text="${'Reino: ' + ${arbol.reino}}"></p>
                        <p class="card-text" th:text="${'Tamaño promedio: ' + ${arbol.tamanoPromedio} + ' m'}"></p>
                        <a th:href="@{'/arbol/detalles/' + ${arbol.idArbol}}" class="btn btn-primary">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>
